/*reset*/
h1,p{
    padding:0;
    margin:0;
}
body{
    background-image: url(images/bg.png);
    background-size: center;
}
.wrapper{
    margin: 0 auto;
    width: 300px;
    color:white;
}
.wrapper img {
    display: block;
}
.contents {
    padding: 0 20px;
    background-color: #93572E;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px #4A260B;
}
.contents h1{
    padding: 10px 0;
    font-weight: 900;
}
.contents p{
    padding-bottom: 30px;
    line-height: 140%;
    opacity: 50%;
}
